<nav th:fragment="navbar" class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container d-flex justify-content-between">

    <div class="d-flex align-items-center">
      <a class="navbar-brand me-4" th:href="@{/}">
        <i class="fa-solid fa-clock-rotate-left me-2"></i>scheduler
      </a>

      <ul class="navbar-nav flex-row">
        <li class="nav-item me-3">
          <a class="nav-link" th:href="@{/tasks}">Tasks</a>
        </li>
      </ul>
    </div>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/profile}">Profile</a>
      </li>
    </ul>

  </div>
</nav>